#home-body {
    background-color: #384E56;
    color: #FFFFFF;
    height: 80vh;
}

#header {
    background-color: #5C96AD;
    color: #FFFFFF;
}
#footer {
    background-color: #DE6F3F;
}
.nav-link {
    color: #FFFFFF;
}
#dropdownpetindex, #dropdownpetshow, #dropdownusershow, #dropdownusernew {
    color: #DE6F3F;
}

.dropdown-menu.show {
    background-color: rgba(56, 78, 86, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 2.5px;
}



